.Container {
  display: flex;
  margin: 35px 13vw ;
  width: 60%;

}

.Container img {
  object-fit: cover;
  width: 40vw;
  height: 50vh;
  border-radius: 36px 0 0 36px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);

}

.ServiceText {
  font-size: 1.9vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 25vw;
  position: relative;
  margin-top: -24px;
  margin-left: 8px;
  color: black;
  opacity: 0.7;
  padding: 10px;
}

.ServiceTitle {
  border-radius: 0px 24px 24px 0px;
  font-size: 4vw;
  font-weight: bold;
  font-family: Ubuntu,Arial,libra sans,sans-serif;
  width: 50vw;
  position: relative;
  top: .05vw;
  left: -20vw;
  line-height: .9;
  background-color: rgba(255, 255, 255, .8);
  color: black;
  padding: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}
