.Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: 725px;
  border-radius: 16px;
  margin: 0 3vw ;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}


.CardHeader {
  display: block;
  text-align: left;
  font-family: Ubuntu,Arial,libra sans,sans-serif;
  margin:  0px 16px;
  overflow-wrap: break-word;
}
